apiVersion: apps/v1
kind: Deployment
metadata:
  name: angie-chacon-deployment
  namespace: angie-chacon
  labels:
    app: microservicio-base
    owner: angie-chacon
spec:
  replicas: 2
  selector:
    matchLabels:
      app: microservicio-base
      owner: angie-chacon
  template:
    metadata:
      labels:
        app: microservicio-base
        owner: angie-chacon
    spec:
      containers:
      - name: microservicio-base
        image: 02-angie-chacon:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        env:
        - name: PORT
          value: "8080"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3

